.favorite-page {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.favourites-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 720px;
    margin: 0 auto;
}